.viewContainer {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 5rem;
}

.productContainer {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detailsContainer {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  border-radius: 5px;
}

.productTitle {
  font-size: 2rem;
  font-weight: 600;
}

.productPrice {
  font-size: 1.8rem;
}

.productPrice span {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.productView {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productView img {
  border-radius: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 500;
  white-space: nowrap;
}

.card img {
  max-width: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  width: 12rem;
  padding: 1rem 2rem;
  background-color: #fafafa;
}

.card h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

.card h5 {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.cardContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, auto);
}

.imageContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, auto);
}

.imageContainer img {
  width: 100%;
  border-radius: 5px;
}

.mainImage {
  width: 100%;
}

.rentBtn {
  padding: 15px 30px;
  width: fit-content;
  border-radius: 5px;
  background-color: #00816F;
  border: none;
  color: white;
}

@media screen and (max-width: 1250px) {
  .cardContainer {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 950px) {
  .card {
    padding: 1rem 1.8rem;
  }

  .card h4 {
    font-size: 1rem;
    font-weight: 600;
  }

  .card h5 {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
  }

  .card img {
    width: 1.8rem;
  }
}



@media screen and (max-width: 850px) {
  .viewContainer {
   flex-direction: column;
  }

  .productContainer {
    width: 100%;
  }

  .cardContainer {
    grid-template-columns: repeat(3, auto);
  }
}


@media screen and (max-width: 800px) {
  .viewContainer {
   padding: 3rem;
  }
}


@media screen and (max-width: 750px) {
  .cardContainer {
    grid-template-columns: repeat(3, auto);
  }

  .card {
    width: 10rem;
  }
}

@media screen and (max-width: 650px) {
  .cardContainer {
    grid-template-columns: repeat(2, auto);
  }

  .card {
    width: 15rem;
  }
}

@media screen and (max-width: 600px) {
  .card {
    flex-direction: row;
    align-items: center;
  }

  .card h4, .card h5 {
    margin: 0;
  }
}
