/* styles.css */
.product-details-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: 350px;
  border-radius: 4px;
  margin-right: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
  height: 100%; /* Make sure the container takes up the full height */
}

.product-name {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.product-brand {
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
}

.product-model {
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
}

.product-year {
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
}

.product-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 1rem;
}

.rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rating-label {
  margin-right: 10px;
  font-size: 16px;
  color: #555;
}

.rating-stars {}

.star-icon {
  margin-right: 5px;
  color: #bbb;
  cursor: pointer;
}

.star-icon.filled {
  color: #ffc107;
}

.review-container {
  margin-bottom: 10px;
}

.review-label {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.review-textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reviews-list {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  border: solid black 1px;
  padding: 20px;
}

.review-rating img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* .reviews-list::-webkit-scrollbar {
  width: 15px;
} */
.review-item {
  margin-bottom: 10px;
}

.review-text {
  font-size: 16px;
  color: #555;
}

.review-rating {
  display: flex;
  align-items: center;
}

.review-rating-label {
  font-size: 16px;
  color: #555;
  margin-right: 5px;
}



.review-stars {}


.sub-images {
  cursor: pointer;
}

.zoom-image {
  height: 500px;
}

.review-image {
  width: 70px;
}

.custom-modal-dialog {
  height: 500px; 
  max-height: 80vh; 
}

