.check-out-main-img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.kms {
    width: 30px;
    height: 30px;
    object-fit: fill;
}

.hide-seconds::-webkit-datetime-edit-second-field {
    display: none;
  }
  
  .hide-seconds::-webkit-datetime-edit-ampm-field {
    display: none;
  }
  
  .hide-seconds::-moz-datetime-edit-second-field {
    display: none;
  }
  
  .hide-seconds::-moz-datetime-edit-ampm-field {
    display: none;
  }

.coupon {
  border-radius: 5px;
  background: rgba(255, 217, 0, 0.616);
}
  
.booked-timmings {
  max-height: 130px;
  overflow-y: auto;
  overflow-x: hidden;
}