.check-out-main-img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.kms {
    width: 30px;
    height: 30px;
    object-fit: fill;
}

.hide-seconds::-webkit-datetime-edit-second-field {
    display: none;
  }
  
  .hide-seconds::-webkit-datetime-edit-ampm-field {
    display: none;
  }
  
  .hide-seconds::-moz-datetime-edit-second-field {
    display: none;
  }
  
  .hide-seconds::-moz-datetime-edit-ampm-field {
    display: none;
  }
  