.formContainer {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.formContainer .formWrapper .logo {
    color: #5d5b8d;
    font-weight: bold;
    font-size: 24px;
}

.formContainer .formWrapper .title {
    color: #5d5b8d;
    font-size: 12px;
}

.formContainer .formWrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formContainer .formWrapper form input {
    padding: 15px;
    border: none;
    width: 250px;
    border-bottom: 1px solid #a7bcff;
}

.formContainer .formWrapper form input::placeholder {
    color: rgb(175, 175, 175);
}

.formContainer .formWrapper form button {
    background-color: #7b96ec;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.formContainer .formWrapper p {
    color: #5d5b8d;
    font-size: 12px;
    margin-top: 10px;
}


.passwordError {
    background-color: rgba(161, 14, 14, 0.434);
}