
.search{
    position: relative;
}


.search span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   padding-left: 10px;
}

.form-input{
    height: 55px;
    border-radius: 10px;
    padding-right: 2.5rem;
}

.form-input:focus{
    border:none;
}

.user-image {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}