.nav {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f0f3f7;
  height: 69px;
  margin-top: 10px;
  margin: 15px;
  border-radius: 5px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 20px;
}

.listed-menu {
  position: absolute;
  list-style: none;
  top: 100%;
  right: 0;
  width: 100px;
  background-color: #ffffff;
  border: solid 2px black;
  border-bottom: none;
  border-radius: 5px;
  z-index: 1000;
}

.listed-menu li {
  border-bottom: solid 2px black;
  height: 28px;
}

.listed-menu li button {
    width: 100%;
    height: 28px;
  }

  .logout-btn{
    z-index: 1;
  }